* , *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    height: 100vh;
    width: 100vw;
}

aside {
    background-color: orange;
}

.chat{ 
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 9fr 1fr;
}

form .message-input {
    width: 80%;
    height: 100%;
}

form #message-submit {
    width: 19%;
    height: 100%;
}

.auto-complete {
    background-color: red;
    width: 80%;
}

header {
    grid-column: 1 / span 3;
    background-color: plum;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .button {
    justify-self: flex-end;
    width: 10vw;
    background-color: crimson;
    border: 0;
    cursor: pointer;
    color: white;
}

header .button:hover {
    box-shadow: 0 3px 1px 1px rgba(0,0,0,.25)
}

#spotify-player {
    grid-column: 1 / span 3;
    background-color: gray;
}